body{
	background: url(../images/trees.png);
}
.title{
	text-align: center;
	color: #7ed6df;
	font-size: 43px;
	margin-top:40px;
	font-family: "PingFang SC",miui,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
}
.login{
	width: 500px;
	height: 400px;
	margin:47px auto;
	background:rgba(0,0,0,0.2);
	box-shadow: 10px 10px 5px #888888;
}
.head{
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 40px;
}
.loginForm{
    width: 380px;
    height: 262px;
	margin:30px auto;
}
.loginForm input{
	margin: auto;
	width: 273px;
	height: 40px;
	padding-left: 21px;
}
.formItem{
    height: 40px;
    margin-top: 56px;
}
.formItem div{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    background-color: #c7ecee;
    border-radius: 2px;

}
.submit{
    width: 80px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: white;
    background-color: #576574;
    margin-top: -20px;
    margin-left: 240px;
    font-size: 15px;
    border: 0;
    cursor: pointer;
}
.openRegister{
    margin-top: 18px;
    height: 17px;
    display: inline-block;
    font-size: 13px;
}
.register{
    position: relative;
    width: 313px;
    height: 410px;
    background-color: white;
    margin: auto;
    padding: 10px;
    padding-left: 46px;
    margin-top: 135px;
}
.register p{
    margin-bottom: 9px;
    margin-top: 16px;
    font-size: 15px;
    color: #0097e6;
}
.register input{
    width: 209px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    position: relative;
}
.close{
    position: absolute;
    font-family: "icomoon";
    right: 16px;
    font-size: 20px;
    cursor: pointer;
}
.mark{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: 999;
}
.nowRegister{
    width: 230px;
    height: 40px;
    background-color: #0097e6;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
}
.prompt{
    display: none;
    color: red;
}
.rprompt{
    position: absolute;
    color: red;
    display: none;
}